.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 7rem
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color: #2a9d8f;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    color: #ffffff;
}

// .mapcontainer {
//     position: relative;
//     width: 100vw !important;
//     height: 100vh !important;
// }